---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en">
  <title>Sasha Chudesnov — Writing</title>
  <link href="{{ "/feed.xml" | absoluteUrl(site.url) }}" rel="self"/>
  <link href="{{ "/writing/" | absoluteUrl(site.url) }}"/>
  <id>{{ "/writing/" | absoluteUrl(site.url) }}</id>
  <updated>{{ collections.writing | latestUpdate | dateToRfc3339 }}</updated>
  <author><name>Sasha Chudesnov</name></author>
  {%- for post in collections.writing %}
  {%- set postUrl = post.url | absoluteUrl(site.url) %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ postUrl }}"/>
    <id>{{ postUrl }}</id>
    <published>{{ post.date | dateToRfc3339 }}</published>
    <updated>{{ post | updatedDate | dateToRfc3339 }}</updated>
    <content type="html">{{ post.content | htmlToAbsoluteUrls(postUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
